/* NOTE: I think you need to download bootstrap to project in order to make edits to the grid setup. Work on this next. */
.jumbo_text {
    width: max-content;
    margin-left: 8%;
}

/* Any div.row will have no margins. Seemed that bootstrap was creating negative margins for the gutters. */
div.row {
    align-items: center;
}

#balance_bet_rows {
    justify-content: space-evenly;

}

#flip_coin_title {
    justify-content: center;
    margin: 2% 0 2% 0;
}

.coin_images {
    display: flex;
    /* justify-content: center; */
    justify-content: space-evenly;
}

.choice_divs {
    display: inline-block;
}

.radio_btn {
    margin: auto;
    display: block;
}

#coin_images_container {
    display: inline-block;
    justify-content: center;
}

.flip_coin_btn_div {
    text-align: center;
    margin: 2% 0 2% 0;
}

#flip_coin_btn {
    justify-content: center;
}

footer p {
    margin-bottom: 0;
    padding: 2% 0 2% 0;
}

/* .text-center{
    align-items: center;
} */

/*
.choice_divs {
    display: flex;
    flex-direction: column;
}

.choice_divs input {
    justify-content: center;
} */

/* .coin_images {
    /* display: flex; */
    /* flex: 0 0 auto; */

/* .coin_container {
    display: flex;
}

.choice_divs {
    display: flex;
    flex-direction: column;
} */