.user_interact_container {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}

#add_balance_input {
    width: 55%;
}

.balance_container {
    display: flex;
    flex-wrap: wrap;
}

.coin_images {
    display: flex;
    flex-wrap: wrap;
}
   
.choice_divs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}