/* .coin_cointainer {
    display: flex;
} */

.coin_images {
    display: flex;
}
   
.choice_divs {
    display: flex;
    flex-direction: column;
}

.choice_divs input {
    justify-content: center;
}

/* .coin_images {
    /* display: flex; */
    /* flex: 0 0 auto; */

/* .coin_container {
    display: flex;
}

.choice_divs {
    display: flex;
    flex-direction: column;
} */